<IfModule mod_fastcgi.c>
AddHandler fastcgi-script .fcgi
</IfModule>
<IfModule mod_fcgid.c>
AddHandler fcgid-script .fcgi
</IfModule>
 
Options +FollowSymLinks +ExecCGI 
 
RewriteEngine On 

RewriteRule ^uuid_to_name.rb uuid_to_name.fcgi [QSA,L]
 
# Original fast cgi rewrites
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)$ dispatch.fcgi/$1 [QSA,L]

# Rewrite *.rb requests to be handled by dispatch.cgi.
# As an FYI, these are all under the code directory
RewriteRule ^([^/]*.rb)$ dispatch.cgi/$1 [QSA,L]
RewriteRule ^([^/]*.frb)$ dispatch.fcgi/$1 [QSA,L]
